{% extends "components/base.html" %}

{% block title %}АкваТехПласт | Политика использования файлов cookie на сайте poolkuban.ru | Краснодар {% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}

    <section class="blogs" id="blogs">
        <div class="container blogs-container">
            <h1 class="cycle-objects-subtitle">Политика использования файлов cookie на сайте poolkuban.ru</h1>
        </div>
    </section>
    <section class="catalog" id="catalog">
        <div class="container error-container">
            <br />
            <br />
            <h1>Политика использования файлов cookie на сайте poolkuban.ru:</h1>
            <br />
            <br />
            <h5>1. Термины и определения:</h5>
            <br />
            <p>1.1. Под "файлами cookie" понимаются данные, которые веб-сайт 
                отправляет и хранит на устройстве Пользователя для 
                оптимизации пользовательского опыта и аналитического анализа.
            </p>
            <br />
            <h5>2. Согласие на использование файлов cookie:</h5>
            <br />
            <p>2.1. Пользователь, посещающий сайт poolkuban.ru, дает согласие 
                на использование файлов cookie в соответствии с настоящей политикой.
            </p>
            <br />
            <h5>3. Цели использования файлов cookie:</h5>
            <br />
            <p>3.1. Файлы cookie применяются для улучшения функциональности сайта, 
                предоставления персонализированных услуг и анализа активности 
                пользователей в соответствии с применимым законодательством.
            </p>
            <br />
            <h5>4. Срок хранения:</h5>
            <br />
            <p>4.1. Файлы cookie могут сохраняться на устройстве Пользователя в 
                пределах, определенных действующим законодательством Российской Федерации.
            </p>
            <br />
            <h5>5. Управление файлами cookie:</h5>
            <br />
            <p>5.1. Пользователь вправе отклонить использование файлов cookie через 
                настройки браузера или удалить их после посещения сайта fontan34.ru.
            </p>
            <br />
            <h5>6. Конфиденциальность данных:</h5>
            <br />
            <p>6.1. ИП Чечеткин В.В.  обязуется соблюдать конфиденциальность собранных данных 
                и не передавать их третьим лицам в соответствии с требованиями статьи 
                18 Федерального закона "О персональных данных" (152-ФЗ).
            </p>
            <br />
            <h5>7. Правовое обоснование:</h5>
            <br />
            <p>7.1. Настоящая политика основывается на применимом 
                законодательстве Российской Федерации, включая Федеральный 
                закон "Об информации, информационных технологиях и о 
                защите информации" (149-ФЗ) и прочие нормативные акты.
            </p>
            <br />
            <h5>Изменения и дополнения:</h5>
            <br />
            <p>8.1. ИП Чечеткин В.В. оставляет за собой право вносить изменения
                и дополнения в настоящую политику. 
                Изменения вступают в силу с момента 
                их публикации на сайте.
            </p>
            <br />
            <br />
            <h6>Дата публикации: 25.01.2024</h6>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'script/loadPage.js' %}"></script>
{% endblock %}
