{% extends "components/base.html" %}

{% block title %}АкваТехПласт | Лицензионное соглашение | Краснодар {% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}

    <section class="blogs" id="blogs">
        <div class="container blogs-container">
            <h1 class="cycle-objects-subtitle">Лицензионное соглашение</h1>
        </div>
    </section>
    <section class="catalog" id="catalog">
        <div class="container error-container">
                <br />
                <h1>Лицензионное соглашение по использованию текстов и изображений:</h1>
                <br />
                <Link to='/'>В начало</Link>
                <br />
                <br />
                <h5>Предоставление прав исключительного использования текстов:</h5>
                <br />
                <p> Весь текстовый контент, 
                    предоставленный на сайте <a href="https://poolkuban.ru">poolkuban.ru</a>, 
                    охраняется авторским правом и является объектом исключительных прав. 
                    Лицензиат получает ограниченное, неисключительное право использования 
                    текстов, при условии, что будет соблюдено обязательное указание источника –  <a href="https://poolkuban.ru">poolkuban.ru</a>.
                </p>
                <br />
                <h5>Лицензирование изображений:</h5>
                <br />
                <p>Изображения, размещенные на сайте, взяты из открытых источников и 
                    подпадают под <a href="https://creativecommons.org/">License</a>. Фотографии также использованы из 
                    фотостока <a href="https://unsplash.com/">Unsplash </a> 
                    и созданы с использованием <a href="https://app.leonardo.ai/">Leonardo AI</a>.
                </p>
                <br />
                <h5>Ответственность за совпадения и случайность:</h5>
                <br />
                <p> Любые случайные совпадения в текстовых и графических материалах 
                    сайта рассматриваются как случайные и носителями внезапного и 
                    непредсказуемого характера. Запросы на удаление материалов 
                    должны быть направлены по адресу <a href="mailto:bassein23@yandex.ru">bassein23@yandex.ru</a>.
                </p>
                <br />
                <h5>Применение законодательства:</h5>
                <br />
                <p> Настоящее лицензионное соглашение подчиняется законодательству 
                    Российской Федерации, включая, но не ограничиваясь, 
                    статьи 1259, 1270 Гражданского кодекса
                     РФ и другие применимые законы.
                </p>
                <br />
                <h5>Ограничение прав исключительного использования:</h5>
                <br />
                <p>Лицензиат не вправе передавать, продавать, сублицензировать 
                    или иным образом распоряжаться исключительными правами 
                    без предварительного письменного согласия ИП Чечеткин В.В..
                </p>
                <br />
                <h5>Обязательства Лицензиата:</h5>
                <br />
                <p>Лицензиат обязуется использовать материалы в соответствии 
                    с применимым законодательством и не предпринимать действий, 
                    противоречащих данному лицензионному соглашению.
                    Удалить информацию с сайта по письменному уведомлению правообладателя контента с
                    предоставлением доказательств подтверждающих исключительное право на размещенную информацию.
                </p>
                <br />
                <h5>Ответственность:</h5>
                <br />
                <p>ИП Чечеткин В.В.не несет ответственности за возможные убытки, прямые или косвенные, возникшие в связи с использованием материалов.</p>
                <h6>28.01.2024г.ИП Чечеткин В.В.</h6>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'script/loadPage.js' %}"></script>
{% endblock %}
