{% extends "components/base.html" %}
{% load static %}
{% block content %}


    <section class="welcome" id="welcome">
        <div class="welcome-left">
            <div class="content slider">
                <div class="slides">
                    {% for title in titles %}
                        <div class="slide">
                                <p class="welcome-welcome">{{ title.welcome }}</p>
                                <h2 class="welcome-title">{{ title.title }}</h2>
                                <p class="welcome-subtitle">{{ title.subtitle }}</p>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
        <div class="welcome-right">
            <div class="welcome-block">
                <div class="line-top"></div>
                <div class="line-right"></div>
                <div class="line-bottom"></div>
                <div class="line-left"></div>
                <div class="block-img">
                    <img src="{% static 'img/pages/001.jpg' %}" alt="ATP">
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-12 about-content">
                    <h3>О нас</h3>
                    <div class="about-content-body">
                        <div class="about-content-body-card">
                            <div id="about-detail-container"></div>
                        </div>
                        <div class="about-content-body-card-icon">
                            {% for about in abouts %}
                                <div class="about-icon">
                                    <a href="#" class="about-link" data-id="{{ about.pk }}">
                                        <div class="about-icon-img">
                                            {% if about.get_icon_url %}
                                                <img src="{{ about.get_icon_url }}" alt="{{ about.subtitle }}">
                                            {% else %}
                                                <p>Изображение отсутствует</p>
                                            {% endif %}
                                        </div>
                                        <p class="about-icon-title">{{ about.subtitle }}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 about-image">
                    <div class="about-image-cube" id="cube"></div>
                    <div class="about-image-content">
                        <img class="about-image-content-img" src="{% static 'img/pages/002.jpeg' %}" alt="ATP">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="discount" id="discount">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-12 discount-content">
                    {% if discounts %}
                        {% for discount in discounts %}
                            <div class="discount-content-body discount-slide">
                                <h2 class="discount-content-body-subtitle">{{ discount.title }}</h2>
                                <h3 class="discount-content-body-title">{{ discount.conditions }}</h3>
                                <p class="discount-content-body-text">{{ discount.description }}</p>
                                <div class="discount-content-body-card">
                                    <div class="left">
                                        <div class="contact">
                                            <div class="group">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="link">
                                                <p>До конца акции осталось:</p>
                                                <p>{{ discount.days_left }} дней</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="right">
                                        {% if discount.percent %}
                                            <p><span>- Скидка -</span></p> 
                                            <p>{{ discount.percent }}%</p>
                                        {% else %}
                                            <p></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="discount-content-body">
                            <h2 class="discount-content-body-subtitle">Давайте знакомиться</h2>
                            <h3 class="discount-content-body-title">Claim upto 50% off er on ‍the most popular services...</h3>
                            <p class="discount-content-body-text"></p>
                            <div class="discount-content-body-card">
                                <div class="left">
                                    <div class="contact">
                                        <div class="group">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="link">
                                            <p>Наш телефон</p>
                                            <a href="tel:8(938) 479-63-01">8(938) 479-63-01</a>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <div class="group">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="link">
                                            <p>Наш телефон</p>
                                            <a href="tel:8(952) 414-30-01">8(952) 414-30-01</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="right"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-lg-12 discount-flex">
                    <div class="discount-form">
                        <form class="discount-form-body" id='form1'>
                            {% csrf_token %}
                            <div class="discount-form-body-tag">
                                <label for="name">
                                    <i class="fa-regular fa-user"></i>
                                    <span>Имя</span>
                                </label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="discount-form-body-tag">
                                <label for="city">
                                    <i class="fa-solid fa-building"></i>
                                    <span>Город</span>
                                </label>
                                <input type="text" name="city" id="city">
                            </div>
                            <div class="discount-form-body-tag">
                                <label for="phone">
                                    <i class="fa-solid fa-phone"></i>
                                    <span>Телефон</span>
                                </label>
                                <input type="text" name="phone" id="phone">
                            </div>
                            <div class="discount-form-body-tag">
                                <input type="submit" name="send" id="send" placeholder="Отправить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop" id="shop">
        <div class="container shop-container">
            <h2 class="shop-top-subtitle">Наша продукция</h2>
            <h3 class="shop-top-title">Пожалуй лучшие бассейны России</h3>
            {% for category_data in categories_with_products %}
            <div class="row shop-content">
                <div class="col-xl-6 col-lg-12 shop-img">
                    <img src="{{ category_data.category.get_image_url }}" alt="{{ category_data.category.category }}">
                </div>
                <div class="col-xl-6 col-lg-12 shop-list">
                    <div class="block"></div>
                    <h3 class="shop-title">{{ category_data.category.category }}</h3>
                    <div class="shop-list-block">
                        {% for product in category_data.products %}
                            <div class="shop-list-block-item">
                                <div class="shop-list-block-item-title">
                                    <h3>{{ product.title }}</h3>
                                    <p><span>Цена от: </span>{{ product.price_to }} руб.</p>
                                </div>
                               <p>{{ product.description|truncatewords:9 }}</p>
                            </div>
                        {% endfor %}
                        {% if category_data.category %}
                            <a class="featurs-body-card-link hovered-btn shop-btn" href="{% url 'category_detail' category_data.category.slug %}">Узнать больше...</a>  
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="awesome" id="awesome">
        <div class="container awesome-container">
            <h2 class="awesome-subtitle">Почему стоит выбрать нас</h2>
            <h3 class="awesome-title">Мы не просто строим бассейны — мы создаем места для вашего отдыха.</h3>
            <div class="awesome-content">
                {% for awesome in awesomes %}
                    <div class="awesome-content-card">
                        <div class="awesome-content-card-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="awesome-content-card-text">
                            <h4>{{ awesome.title }}</h4>
                            <p>{{ awesome.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="review" id="review">
        <div class="container review-container">
            <h2 class="review-subtitle">Отзывы</h2>
            <h3 class="review-title">Мы ценим каждого клиента и гордимся доверием, которое нам оказывают!</h3>
            <div class="review-cards">
                <button class="review-btn" id="prev-review-btn">
                    <i class="fas fa-chevron-circle-left"></i>
                </button>
                <div class="review-cards"  id="review-card-wrapper">
                    {% for review in reviews %}
                        <div class="review-card" style="display: none;">
                            <div class="review-card-text">
                                {{ review.text }}
                            </div>
                            <div class="review-card-footer">
                                <div class="review-card-user">
                                    <div class="review-card-user-foto">
                                        <img src="{{ review.get_image_url }}" alt="{{ review.name }}">
                                    </div>
                                    <div class="review-card-user-name">
                                        <p>{{ review.date }}</p>
                                        <p><span>{{ review.name }}</span></p>
                                        <p>{{ review.sity }}</p>
                                    </div>
                                </div>
                                <div class="review-card-decor">
                                    <div class="review-card-decor-left"></div>
                                    <div class="review-card-decor-left"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="review-btn" id="next-review-btn">
                    <i class="fas fa-chevron-circle-right"></i>
                </button>
            </div>
            {% comment %} <button class="review-modal featurs-body-card-link hovered-btn shop-btn">Оставить отзыв</button> {% endcomment %}
        </div>
    </section>
    <section class="featurs" id="featurs">
        <div class="container blog-container">
            <h2 class="featurs-container-subtitle">Услуги</h2>
            <h3 class="featurs-container-title">Строительство бассейнов и не только</h3>
            <div class="row">
                <div class="col featurs-body">
                    {% for service in services %}
                        <div class="featurs-body-card">
                            <div class="featurs-body-card-img">
                                {% if service.get_image_url %}
                                    <img src="{{ service.get_image_url }}" alt="{{ service.title }}">
                                {% else %}
                                    <p>Изображение отсутствует</p>
                                {% endif %}
                            </div>
                            <h3 class="featurs-body-card-title">{{ service.title}}</h3>
                            <div class="featurs-body-card-text">{{ service.description }}</div>
                            <a class="featurs-body-card-link hovered-btn" href="{% url 'service_detail' service.pk %}">Подробнее...</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="blog" id="blog">
       <div class="container blog-container">
        <h2 class="blog-container-subtitle">Наш блог</h2>
        <h3 class="blog-container-title">Истории о бассейнах</h3>
        <div class="blog-content">
            {% for blog in blogs %}
                <a href="{% url 'blog_detail' blog.slug %}">
                    <div class="blog-content-card">
                        <div class="blog-content-card-img">
                            <img src="{{ blog.get_image_url }}" alt="{{ blog.title }}">
                        </div>
                        <div class="blog-content-card-text">
                            <div class="date">
                                <p>{{ blog.pub_date }}</p>
                                <div class="line"></div>
                                <p>{{ blog.theme|truncatewords:1 }}</p>
                            </div>
                            <h6>{{ blog.title }}</h6>
                            <p>{{ blog.text|truncatewords:15 }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <a class="featurs-body-card-link hovered-btn shop-btn" href="{% url 'blogs' %}">Больше историй</a>    
       </div> 
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'script/animationEffect.js' %}"></script>
    <script src="{% static 'script/sliderText.js' %}"></script>
    <script src="{% static 'script/salideReview.js' %}"></script>
    <script src="{% static 'script/loadAboutDetail.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.querySelectorAll('.discount-form-body-tag input, .discount-form-body-tag textarea').forEach((input) => {
            const label = input.previousElementSibling;
        
            // Функция для сдвига и уменьшения label
            const moveLabel = () => {
                label.style.position = 'absolute';
                label.style.top = '0';
                label.style.left = '10px';
                label.style.fontSize = '12px';
                label.style.transition = 'all 0.3s ease';
            };
        
            // Функция для возвращения label
            const resetLabel = () => {
                if (!input.value) {  // Если поле пустое
                    label.style.position = 'absolute';
                    label.style.top = '65%';
                    label.style.left = '10px';
                    label.style.fontSize = '18px';
                    label.style.transform = 'translateY(-50%)';
                }
            };
        
            // Обработка событий
            input.addEventListener('focus', moveLabel);
            input.addEventListener('blur', resetLabel);
        
            // Проверка на заполненность при загрузке страницы
            if (input.value) {
                moveLabel();  // Если поле уже заполнено, смещаем label
            }
        });
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');
        
        $('#form1').on('submit', function(e) {
            e.preventDefault();  // Отключаем стандартное поведение формы
            
            // Вручную проверяем валидацию формы
            const name = $('#name').val().trim();
            const city = $('#city').val().trim();
            const phone = $('#phone').val().trim();
        
            if (!name || !city || !phone) {  // Простая проверка заполненности
                alert('Пожалуйста, заполните все поля!');
                return;  // Прерываем выполнение, если поля не заполнены
            }
        
            
        
            $.ajax({
                type: 'POST',
                url: "{% url 'save_form_data' %}",
                data: $(this).serialize(),
                headers: {
                    'X-CSRFToken': csrftoken  // Передаем CSRF-токен в заголовках
                },
                success: function(response) {
                    $('#form1').hide();  // Скрываем форму
                    $('<p class="discount-content-body-title">Спасибо! </br> Ваши данные успешно отправлены.</p>').insertAfter('#form1');
                },
                error: function(error) {
                    alert('Произошла ошибка!');
                }
            });
        });
    </script>
{% endblock %}

