@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope.ttf);
}

@font-face {
    font-family: 'Play fair';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Play fair';
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-weight: bold;
}

// colors
$color-bg: rgb(92, 134, 146);
$color-dark-bg: rgb(30, 44, 48);
$color-light-bg: rgba(122, 156, 165, 1);
$color-title: rgba(20, 20, 20, 1);
$color-text: rgba(85, 85, 85, 1);
$color-white: rgba(255, 255, 255, 1);

// tipography
@mixin heating-h1{
    font-size: 70px;
    line-height: 91px;
    letter-spacing: -1.5%;
}

@mixin heating-h2{
    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -1.5%;
}

@mixin heating-h3{
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: -1.5%;
}

@mixin heating-h4{
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5%;
}

@mixin heating-h5{
    font-size: 26px;
    line-height: 33.8px;
    letter-spacing: -1.5%;
}

@mixin heating-h6{
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -1.5%;
}

@mixin text{
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: 2%;
}

@mixin list{
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}

@mixin dark-btn{
    background: $color-bg;
    color: $color-white;
    font-size: 13px;
    font-weight: 800;
    line-height: 16.25px;
    letter-spacing: 0.12em;
    text-align: center;
    padding: 27px, 85px, 22px, 85px;
}

@mixin light-btn{
    padding: 17px 32px 17px 32px;
    opacity: 0px;
    border: 2px solid $color-bg;
    font-size: 13px;
    font-weight: 800;
    line-height: 16.25px;
    letter-spacing: 0.12em;
    text-align: center;
}