
@import 'variables';
@import 'reset';

.welcome{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &-left{
        background-color: rgba(235, 243, 245, 1);
        width: 50%;
        min-height: 720px;
        padding-top: 160px;
        padding-left: 260px;
        padding-bottom: 260px;
        height: calc(100vh - (38px + 50px + 38px));
    }
    &-content{
        display: flex;
        flex-direction: column;
        
    }
    &-welcome{
        font-size: 15px;
        font-weight: 600;
        line-height: 23.17px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        color: $color-bg;
    }
    &-title{
       @include heating-h1;
       color: $color-title; 
    }
    &-subtitle{
        font-size: 19px;
        font-weight: 400;
        line-height: 32.3px;
        text-align: left;
        color: rgba(85, 85, 85, 1);
    }
    &-right{
        width: 50%;
        height: calc(100vh - (38px + 50px + 38px));
        background: $color-dark-bg;
        display: flex;
        align-items: center;
    }
    &-block{
        width: 561px;
        height: 663px;
        position: relative;
        // overflow: hidden;
    }
}

.slides {
    position: relative;
    display: flex;
    width: 510px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.line-top{
    width: 0;
    height: 10px;
    background: $color-white;
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
    transition: all .5s ease;
    transform: translateX(-100%);
    
}

.top-animated{
    animation: slideInFromLeft 2s forwards;    
}

.line-right{
    width: 10px;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    background: $color-white;
    transition: all .5s ease;
}

.line-bottom{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 100%;
    opacity: 0;
    transition: all .5s ease;
    transform: translateX(-100%);
    background: $color-white;
}

.line-left{
    width: 10px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    background: $color-white;
    transition: all .5s ease;
}

.block-img{
    width: 545px;
    height: 550px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    opacity: 0;
    transition: all .5s ease;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    img{
        z-index: 95;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featurs{
    width: 100%;
    min-height: 790px;
    padding-bottom: 76px;
    &-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        &-card{
            margin-top: 76px;
            margin-bottom: 23px;
            width: 370px;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateX(20px);
            transition: all .5s ease;
            &-img{
                width: 330px;
                height: 250px;
                background: rgba(196, 196, 196, 1);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-title{
                padding-top: 36px;
                @include heating-h5;
                color: $color-title;
            }
            &-text{
                @include text;
                padding-top: 58px;
                color: $color-text;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 90%;
            }
            &-link{
                position: relative;
                margin-top: 58px;
                font-family: 'Manrope';
                font-size: 14px;
                font-weight: 800;
                line-height: 17.5px;
                letter-spacing: 0.12em;
                text-align: center;
                width: 50%;
                text-transform: uppercase;
                padding: 18px 43px 19px 43px;
                border: 2px solid $color-bg;
                overflow: hidden;
                transition: all 1s ease;
            }
        }
    }
}

.opacity-card{
    opacity: 1;
    transform: translateX(0);
}

.about{
    background: rgba(235, 243, 245, 1);
    min-height: 914px;
    &-content{
        width: 529px;
        min-height: 790px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 76px;
        margin-bottom: 76px;
        transform: translateY(-20px);
        opacity: 0;
        transition: all .7s ease;
        &>h3{
            font-family: 'Manrope';
            font-size: 15px;
            font-weight: 600;
            line-height: 23.17px;
            letter-spacing: 0.1em;
            text-align: left;
            color: $color-bg;
            text-transform: uppercase;
            padding-bottom: 16px;
        }
        &-body{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            position: relative;
            &-card{
                position: relative;
                width: 100%;
                height: 100%;
                opacity: 1;
                
                &-text{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &-icon{
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
            &-title{
                @include heating-h3;
                color: $color-title;
                padding-bottom: 32px;
            }
            &-description{
                @include text;
                color: $color-text;
            }
        }
        &-icons{
            display: flex;

        }
    }
    &-image{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        min-height: 790px;
        
        &-cube{
            width: 500px;
            height: 0;
            position: absolute;
            top: 76px;
            right: 0;
            background: $color-dark-bg;
            transition: all .5s ease;
            opacity: 0;
        }
        &-content{
            width: 500px;
            height: 576px;
            position: absolute;
            top: 138px;
            right: 68px;
            overflow: hidden;
            &-img{
                box-shadow: 0px 20px 40px 0px rgba(42, 68, 75, 0.2);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .7s ease;
                opacity: 0;
            }
        }
    }
}

.visible{
    opacity: 1;
    height: 576px;
}

.img-visible{

    opacity: 1;
}

.about-icon{
    width: 165px;
    border: 1px solid $color-dark-bg;
    background: $color-white;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: all .5s ease;
    &-img{
        width: 65.34px;
        height: 78.02px;
        &>img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }  
    &-title{
        width: 99px;
        padding-top: 14px;
        margin: 0;
        color: $color-title;
        font-family: 'Play fair';
        font-size: 22px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
    }
}



.featurs-body-card-link::before{
    content: '';
    width: 30%;
    height: 300%;
    background: linear-gradient(90deg, rgba(122,156,165,0.1) 0%, rgba(122,156,165,0.2) 25%, rgba(92,134,146,0.3) 50%, rgba(122,156,165,0.2) 75%, rgba(122,156,165,0.1) 100%);
    position: absolute;
    top: -100%;
    left: -70%;
    transform: rotate(45deg);
    transition: all .7s ease;
}
.featurs-body-card-link:hover{
    transform: scale(1.03);
    // filter: invert(50%) contrast(200%);
}

.featurs-body-card-link:hover::before{
    left: 130%;
}

#about-detail-container {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#about-detail-container.hidden {
    opacity: 0;
}


.shop{
    width: 100%;
    padding-top: 76px;
    padding-bottom: 76px;
    &-container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &-content{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    &-img{
        height: 640px;
        box-shadow: 0px 20px 40px 0px rgba(42, 68, 75, 0.2);
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: 90;
        transition: all .7s ease;
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-list{
        text-align: center;
        position: relative;
        padding-top: 45px;
        &-block{
            width: 100%;
            margin-top: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:stretch;
            &-item{
                text-align: left;
                margin-top: 16px;
                margin-left: 23px;
                opacity: 0;
                transform: translateX(-20px);
                transition: all .7s ease;
                &-title{
                    display: flex;
                    justify-content: space-between;
                    
                    align-items: flex-end;
                    flex-wrap: wrap;
                    & > h3, & > p{
                        font-family: 'Play fair';
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 28.6px;
                        text-align: left;
                        margin: 0;
                        & > span{
                            font-weight: 400;
                        }
                    }
                    & > .line{
                        width: 72px;
                        margin-bottom: 3px;
                        border-bottom: 3px dotted $color-title;
                    }

                }
                & > p{
                    padding-top: 12px;
                    font-family: 'Manrope';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 29.7px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: rgba(85, 85, 85, 1);
                }
            }
        }
        & > .block{
            width: 180px;
            height: 180px;
            background: $color-text;
            position: absolute;
            bottom: -90px;
            transform: translateX(-50%);
            transition: all .7s ease;
            &:last-child{
                display: none;
            }
        }
    }
    &-title{
        @include heating-h5;
        opacity: 0;
        transition: all .5s ease;
    }
    &-btn{
        margin: 36px auto 0 auto;
        padding: 23px 34px 24px 34px;
        color: $color-title;
        transition: all .5s ease;
        opacity: 0;
        transform: translateY(20px);
        
    }
}
.shop-top-subtitle{
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 600;
    line-height: 23.17px;
    letter-spacing: 0.1em;
    text-align: center;
    color: $color-bg;
    text-transform: uppercase;
    padding-bottom: 38px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .5s ease;
}
.shop-top-title{
    @include heating-h3;
    text-align: center;
    max-width: 659px;
    padding-bottom: 36px;
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(20px);
}

@media (max-width: 1440px) {
    .welcome{
        &-left{
            padding-top: 160px;
            padding-left: 160px;
            padding-bottom: 160px;

        }
        &-title{
            @include heating-h2;
        }
        &-right{
            align-items: flex-start;
            padding-top: 160px;
        }
    }
    .slides {
        width: 410px;
    }

}

@media (max-width: 1200px) {
    .welcome{
        &-left{
            width: 100%;
            height: 50vh;
        }
        &-title{
            @include heating-h3;

         }
         &-right{
            width: 100%;
            height: 70vh;
            align-items: center;
            margin: 0;
            justify-content: center;
            padding-top: 30px;
        }
         &-block{
            width: 90%;
        height: 90%;
            position: relative;
        }
    }
    .slides {
        width: 560px;
    }
    .block-img{
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        
    }
    .line-left{
        display: block;
    }
    .shop-list{
        margin-top: 38px;
        margin-bottom: 38px;
       
    & > .block{
        display: none;
    }}
}

@media (max-width: 768px) {
    .welcome{
        &-left{
            padding-top: 60px;
            padding-left: 60px;
            padding-bottom: 60px;

        }
        &-title{
            @include heating-h3;

         }
    }
    .featurs{
        &-body{
            justify-content: center;
        }
    }
    .shop-list-block-item-title{
        flex-direction: column;
        & > p{
            margin-top: 26px;
        }
    }
}

@media (max-width: 430px) {
    .welcome{
        &-title{
            @include heating-h4;
         }
    }
    .slides {
        width: 270px;
    }
    .about{
        &-icon{
            width: 110px;
        }
        &-image{
            min-height: 590px;
            &-cube{
                width: 300px;
                height:376px;
                top: 38px;
                right: 10px;
                
            }
            &-content{
                width: 330px;
                height: 406px;
                top: 76px;

            }
        }
    }
    .about-image-cube.visible{
        opacity: 1;
        height: 376px;
    }
}

@keyframes slideInFromLeft {
    50%{
        transform: translateX(0);
        width: 50%;
        right: 0;
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        width: 100%;
        right: 0;
        opacity: 1;
    }
    
}

.about-opacity{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}

.block-opacity{
    opacity: 1;
}