
@import 'variables';
@import 'reset';

.welcome{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &-left{
        background-color: rgba(235, 243, 245, 1);
        width: 50%;
        min-height: 720px;
        padding-top: 160px;
        padding-left: 260px;
        padding-bottom: 260px;
        height: calc(100vh - (38px + 50px + 38px));
    }
    &-content{
        display: flex;
        flex-direction: column;
        
    }
    &-welcome{
        font-size: 15px;
        font-weight: 600;
        line-height: 23.17px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        color: $color-bg;
    }
    &-title{
       @include heating-h1;
       color: $color-title; 
    }
    &-subtitle{
        font-size: 19px;
        font-weight: 400;
        line-height: 32.3px;
        text-align: left;
        color: rgba(85, 85, 85, 1);
    }
    &-right{
        width: 50%;
        height: calc(100vh - (38px + 50px + 38px));
        background: $color-dark-bg;
        display: flex;
        align-items: center;
    }
    &-block{
        width: 561px;
        height: 663px;
        position: relative;
        // overflow: hidden;
    }
}

.slides {
    position: relative;
    display: flex;
    width: 510px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.line-top{
    width: 0;
    height: 10px;
    background: $color-white;
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
    transition: all .5s ease;
    transform: translateX(-100%);
    
}

.top-animated{
    animation: slideInFromLeft 2s forwards;    
}

.line-right{
    width: 10px;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    background: $color-white;
    transition: all .5s ease;
}

.line-bottom{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 100%;
    opacity: 0;
    transition: all .5s ease;
    transform: translateX(-100%);
    background: $color-white;
}

.line-left{
    width: 10px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    background: $color-white;
    transition: all .5s ease;
}

.block-img{
    width: 545px;
    height: 550px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    opacity: 0;
    transition: all .5s ease;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    img{
        z-index: 95;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featurs{
    width: 100%;
    min-height: 790px;
    padding-bottom: 76px;
    &-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        &-card{
            margin-top: 76px;
            width: 370px;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateX(20px);
            transition: all .5s ease;
            &-img{
                width: 330px;
                height: 250px;
                background: rgba(196, 196, 196, 1);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-title{
                padding-top: 36px;
                @include heating-h5;
                color: $color-title;
            }
            &-text{
                @include text;
                padding-top: 58px;
                color: $color-text;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 90%;
            }
            &-link{
                margin-top: 58px;
                font-family: 'Manrope';
                font-size: 14px;
                font-weight: 800;
                line-height: 17.5px;
                letter-spacing: 0.12em;
                text-align: center;
                width: 50%;
                text-transform: uppercase;
                padding: 18px 43px 19px 43px;
                border: 2px solid $color-bg;
            }
        }
    }
}

.opacity-card{
    opacity: 1;
    transform: translateX(0);
}

.about{
    background: rgba(235, 243, 245, 1);
    min-height: 914px;
    &-content{
        width: 529px;
        min-height: 790px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 76px;
        margin-bottom: 76px;
        &>h3{
            font-family: 'Manrope';
            font-size: 15px;
            font-weight: 600;
            line-height: 23.17px;
            letter-spacing: 0.1em;
            text-align: left;
            color: $color-bg;
            text-transform: uppercase;
            padding-bottom: 16px;
        }
        &-body{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            position: relative;
            &-card{
                position: relative;
                width: 100%;
                height: 100%;
                &-text{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &-icon{
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
            &-title{
                @include heating-h3;
                color: $color-title;
                padding-bottom: 32px;
            }
            &-description{
                @include text;
                color: $color-text;
            }
        }
        &-icons{
            display: flex;

        }
    }
    &-image{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        &-cube{
            width: 500px;
            height: 576px;
            position: absolute;
            top: 76px;
            right: 0;
            background: $color-dark-bg;
        }
        &-content{
            width: 500px;
            height: 576px;
            position: absolute;
            top: 138px;
            right: 68px;
            box-shadow: 0px 20px 40px 0px rgba(42, 68, 75, 0.2);
            &> img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.about-icon{
    width: 165px;
    border: 1px solid $color-dark-bg;
    background: $color-white;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &-img{
        width: 65.34px;
        height: 78.02px;
        &>img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }    
    &-title{
        width: 99px;
        padding-top: 14px;
        margin: 0;
        color: $color-title;
        font-family: 'Play fair';
        font-size: 22px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
    }
}

@media (max-width: 1440px) {
    .welcome{
        &-left{
            padding-top: 160px;
            padding-left: 160px;
            padding-bottom: 160px;

        }
        &-title{
            @include heating-h2;
        }
        &-right{
            align-items: flex-start;
            padding-top: 160px;
        }
    }
    .slides {
        width: 410px;
    }
}

@media (max-width: 1200px) {
    .welcome{
        &-left{
            width: 100%;
            height: 50vh;
        }
        &-title{
            @include heating-h3;

         }
         &-right{
            width: 100%;
            height: 70vh;
            align-items: center;
            margin: 0;
            justify-content: center;
            padding-top: 30px;
        }
         &-block{
            width: 90%;
        height: 90%;
            position: relative;
        }
    }
    .slides {
        width: 560px;
    }
    .block-img{
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        
    }
    .line-left{
        display: block;
    }
}

@media (max-width: 768px) {
    .welcome{
        &-left{
            padding-top: 60px;
            padding-left: 60px;
            padding-bottom: 60px;

        }
        &-title{
            @include heating-h3;

         }
    }
    .featurs{
        &-body{
            justify-content: center;
        }
    }
}

@media (max-width: 430px) {
    .welcome{
        &-title{
            @include heating-h4;
         }
    }
    .slides {
        width: 270px;
    }
}

@keyframes slideInFromLeft {
    50%{
        transform: translateX(0);
        width: 50%;
        right: 0;
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        width: 100%;
        right: 0;
        opacity: 1;
    }
    
}