{% extends "components/base.html" %}

{% block title %}АкваТехПласт | Каталог | Краснодар {% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <section class="blogs" id="blogs">
        <div class="container blogs-container">
            <h2 class="cycle-objects-title">Бассейны и не только</h2>
            <h1 class="cycle-objects-subtitle">Каталог бассейнов и оборудования</h1>
        </div>
    </section>
    <aside class="filter-record">
        <div class="container filter-record-container">
            <div class="sort-block cycle-objects-card">
                <label for="sort-price" class="sort-select">Фильтрация по категории:</label>
                <select id="type-select" class="filter-record-form-option">
                    <option value="">Все категории</option>
                    {% for type in unique_types %}
                        <option value="{{ type.type }}">{{ type.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sort-block cycle-objects-card">
                <label for="category-select" class="sort-select">Фильтрация по товарам:</label>
                <select id="category-select" class="filter-record-form-option">
                    <option value="">Все товары</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="sort-block cycle-objects-card">
                <button id="reset-filters" class="filter-record-buttons">Сбросить фильтр</button>
            </div>              
        </div>
    </aside>
    <section class="catalog" id="catalog">
        <div class="container catalog-container" id="catalog-content">
            {% for category_data in categories_with_products %}
                <div class="row catalog-content">
                    <div class="col-xl-6 col-lg-12 catalog-img">
                        <div class="catalog-img-bg">
                            <div class="image">
                                <img src="{{ category_data.category.get_image_url }}" alt="{{ category_data.category.category }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 catalog-price">
                        <p class="type">{{ category_data.category.get_type_display }}</p>
                        <a href="{% url 'category_detail' category_data.category.slug %}"><h3>{{ category_data.category.category }}</h3></a>
                        {% for product in category_data.products %}
                            <a class="catalog-list" href="{% url 'product_detail' slug=product.slug %}">
                                <div class="catalog-list-icon">
                                    <img src="{% static category_data.category.icon %}" alt="Иконка типа">
                                </div>
                                <div class="catalog-list-body">
                                    <h4>{{ product.title }}</h4>
                                    <p>{{ product.description|truncatewords:4 }}</p>
                                </div>
                            </a>
                        {% endfor %}
                        {% if category_data.category %}
                            <a class="featurs-body-card-link hovered-btn" href="{% url 'category_detail' category_data.category.slug %}">Получить больше...</a>  
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'script/loadPage.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const typeSelect = document.getElementById('type-select');
            const categorySelect = document.getElementById('category-select');
            const searchInput = document.getElementById('search-input');
            const catalogContent = document.getElementById('catalog-content');
            const resetFilters = document.getElementById('reset-filters');
        
            function filterCatalog() {
                const selectedType = typeSelect.value;
                const selectedCategory = categorySelect.value;
                const searchQuery = searchInput.value;
        
                fetch(`/catalog/filter/?type=${selectedType}&category=${selectedCategory}&search=${encodeURIComponent(searchQuery)}`)
                    .then(response => response.text())
                    .then(data => {
                        catalogContent.innerHTML = data;
                    });
            }
        
            typeSelect.addEventListener('change', filterCatalog);
            categorySelect.addEventListener('change', filterCatalog);
            searchInput.addEventListener('input', filterCatalog); // Отправка запроса при вводе в строку поиска
        
            resetFilters.addEventListener('click', () => {
                typeSelect.value = '';
                categorySelect.value = '';
                searchInput.value = '';
                filterCatalog();
            });
        });
    </script>
{% endblock %}
