{% extends "components/base.html" %}

{% block title %}АкваТехПласт | {{ category.category }} | Краснодар {% endblock %}
{% block meta %}
    <meta name="description" content="{{ category.category }}, Все о их недостатках и премуществах">
    <meta name="keywords" content="каталог бассейнов, оборудование для бассейнов, модели бассейнов, аксессуары для бассейнов, {{ category.category }}">
    <meta name="author" content="b_root">
    <meta property="og:title" content="АкваТехПласт | {{ category.category }} | Краснодар ">
    <meta property="og:description" content="Каталог бассейнов и оборудования: ассортимент моделей и аксессуаров для вашего бассейна.">
    <meta property="og:type" content="website">
{% endblock %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <section class="blogs" id="blogs">
        <div class="container blogs-container">
            <h2 class="cycle-objects-title">{{ category.get_type_display  }}</h2>
            <h1 class="cycle-objects-subtitle">{{ category.category }}</h1>
        </div>
    </section>
    <aside class="filter-record">
        <div class="container filter-record-container">  
            <div class="filter-record-card cycle-objects-card">
                <button id="reset-filters" class="filter-record-buttons">Сбросить фильтр</button>
            </div>               
        </div>
    </aside>
    <section class="catalog-items" id="catalog-items">
        {% include 'catalog/_catalog_list_partial.html' with page_obj=page_obj %}
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'script/loadPage.js' %}"></script>
    
{% endblock %}
