@import 'variables';

.blogs{
        @include page-title;
        min-height: 356px;
        color : $color-white;
        &-content{
            padding-top: 76px;
            padding-bottom: 76px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &-card{
                width: 370px;
                display: flex;
                flex-direction: column;
                margin-bottom: 46px;
                & > .card-img{
                    width: 100%;
                    height: 325px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
}


.blogs-btn{
    padding-bottom: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 468px){
    .blogs-container > h1{
        font-size: 30px;
    
    }
}