<div class="container blogs-content cycle-objects-card" id="articles-container">
    {% for blog in page_obj %}
        <a href="{% url 'blog_detail' slug=blog.slug %}" class="blogs-content-card">
            <div class="card-img">
                <img src="{{ blog.get_image_url }}" alt="{{ blog.title }}">
            </div>
            <div class="blog-content-card-text">
                <div class="date">
                    <p>{{ blog.pub_date }}</p>
                    <div class="line"></div>
                    <p>{{ blog.theme|truncatewords:1 }}</p>
                </div>
                <h6>{{ blog.title }}</h6>
                <p>{{ blog.text|truncatewords:15 }}</p>
            </div>
        </a>
    {% endfor %}
</div>



        
        


